@font-face {
  font-family: 'mdt';
  src: url('../src/font.ecb8654f.woff') format('woff');
}

* {
  font-family: 'mdt';
  font-size: 16px;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  filter: blur(0px);
  background-color: #2a2a2d;
  transition: filter 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

button {
  display: inline-block;
  vertical-align: top;
  height: 54px;
  position: relative;
  background-color: #454545;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  clip-path: polygon(10px 0, calc(100% - 10px) 0, 100% 10px, 100% calc(100% - 10px), calc(100% - 10px) 100%, 10px 100%, 0 calc(100% - 10px), 0 10px);
}

button:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  clip-path: polygon(
    12px 4px, 
    calc(100% - 12px) 4px, 
    calc(100% - 4px) 12px, 
    calc(100% - 4px) calc(100% - 12px), 
    calc(100% - 12px) calc(100% - 4px), 
    12px calc(100% - 4px), 
    4px calc(100% - 12px), 
    4px 12px
  );
}

button:hover {
  background-color: #ffd37f;
}

button:active {
  background-color: #fff;
}

button span {
  position: relative;
  z-index: 1;
}